<div>
  <h1 style="float:left">Minecraft Servers</h1>
  <button style="float:right" class="btn btn-primary" (click)="createServer()">Create Server</button>
</div>
<p style="float:none" *ngIf="!serverInfos"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="serverInfos">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Name</th>
      <th>Id</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serverInfo of serverInfos" [class.disabled]="serverInfo.executing">
      <td>
        <i class="material-icons clickable" style="color: green"
           [class.disabled]="serverInfo.state == 'running'"
           (click)="startServer(serverInfo)">play_arrow</i>
        <i class="material-icons clickable" style="color: blue"
           [class.disabled]="serverInfo.state != 'running'">cached</i>
        <i class="material-icons clickable" style="color: red"
           [class.disabled]="serverInfo.state != 'running'"
           (click)="stopServer(serverInfo)">stop</i>
        <i class="material-icons clickable" style="color: darkgray"
           (click)="removeServer(serverInfo)">delete</i>
      </td>
      <td><span>{{ serverInfo.name }}</span></td>
      <td><span [routerLink]="['/server-console', serverInfo.id]">{{ serverInfo.id }}</span></td>
      <td>
        <span class="badge badge-secondary"
              [class.badge-success]="serverInfo.state == 'running'"
              [class.badge-danger]="serverInfo.state == 'exited'"
              [class.badge-primary]="serverInfo.state == 'created'">
          {{ serverInfo.state.toUpperCase() }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
